* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --bs-primary-rgb : 237, 196 , 124;
     --bs-dark-rgb: 103 , 57 , 44;
}

@font-face {
    font-family: 'roboto';
    src: url('../font/Roboto/Roboto-Regular.ttf') format('truetype');

    font-family: 'poppins' ;
    src: url('../font/Poppins/Poppins-Regular.ttf') format('truetype');
}

